/* import google font  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* My customize button css  */
.my-btn{
    color: rgb(23, 23, 151);
    background-color: white;
    font-size: 20px;
    border: 1px solid rgb(23, 23, 151);
}

.my-btn:hover{
    color: white;
    background-color: rgb(23, 23, 151);
}

.check{
    color: #5243C2;
    background-color: #f3f1fc;
    border-radius: 50%;
}
.btn-redius{
border-radius: 25px;
}